import %workspace%/../../.bazelrc

common --config=cc
common --process_headers_in_dependencies
common --features=layering_check
common --modify_execution_info=CppModuleMap=+supports-path-mapping,CppArchive=+supports-path-mapping,CppCompile=+supports-path-mapping
